<section id="experience">
  <h1 class="title-heading"><span class="arrow">< </span>Experience<span class="arrow"> ></span></h1>

  @if (experienceList) {
    <div>
      @for (experience of experienceList; track $index) {
        <div class="experience section-container">
          <div class="experience__info">
            <div class="experience__info__company">
              <h3>{{experience.company}}</h3>
              <span>{{experience | getDateRange}}</span>
            </div>

            <h4>{{experience.role}}</h4>

            <div
              class="experience__info__description"
              [innerHtml]="experience.description | parseMarkdown">
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div>
      <div class="experience section-container">
        <h2 class="error-message">@if (loading) {Loading Experience...} @else {Could Not Load Experience}</h2>
      </div>
    </div>
  }
</section>
