<div #Overlay class="overlay" (click)="onClose()"></div>
<div #Modal class="modal" *ngIf="info" >
  <h2 class="modal__header">
    <span class="arrow"><</span> {{info.type.toUpperCase()}} - {{info.title}} <span class="arrow">></span>
    <span class="modal__header__close close-btn" (click)="onClose()">x</span>
  </h2>

  <div class="modal__container">
    <div class="modal__container__content">
      <img *ngIf="info.type === 'image'" [src]="info.url" [alt]="info.title">
      <div class="video-frame" *ngIf="info.type === 'video'">
        <iframe [src]="info.url | safeUrl" width="100%" height="100%"></iframe>
      </div>
    </div>
  </div>
</div>