<section id="contact">
  <h1 class="title-heading"><span class="arrow">< </span>Contact<span class="arrow"> ></span></h1>

  <div class="section-container">
    <form [formGroup]="contactForm" (ngSubmit)="submit()">
      <div>
        <span>
          <label><span>Full Name *</span><input type="text" formControlName="fullName" required></label>
          @if (fullName.invalid && fullName.touched) {<span>Full Name is Required</span>}
        </span>
        <span>
          <label><span>Email *</span><input type="email" formControlName="email" required></label>
          @if (email.invalid && email.touched) {<span>Please Enter a Valid Email</span>}
        </span>
      </div>
      <span><label><span>Subject</span><input type="text" formControlName="subject"></label></span>
      <span>
        <label><span>Message *</span><textarea rows="4" formControlName="message" required></textarea></label>
        @if (message.invalid && message.touched) {<span>Message is Required</span>}
      </span>

      <button
        type="submit"
        [class.danger]="buttonText === 'Failed to Submit'"
        [disabled]="isDisabled"
      >
        {{buttonText}}
      </button>
    </form>
  </div>
</section>