<section id="projects">
  <h1 class="title-heading"><span class="arrow">< </span>Projects<span class="arrow"> ></span></h1>

  @if (projects) {
    <div>
      @for (project of projects; track project.slug) {
        <div class="project section-container">
          <div class="project__thumbnail" [style.background-image]="project.image && 'url(' + project.image.large.url + ')'">
            @if (!project.image) {
              <span><img src="./assets/logo.svg" alt="Logo Watermark"></span>
            }
            <div>
              @if (project.image) {<a><button (click)="onOpenModal('image', project)">Enlarge Image</button></a>}
              <a [routerLink]="'/project/' + project.slug"><button>Read More</button></a>
            </div>
          </div>
          <div class="project__info">
            <h3><a [routerLink]="'/project/' + project.slug">{{project.title}}</a></h3>

            @if (project.techStack) {
              <div class="project__info__stack">
                <span>Tech Stack:&nbsp;&nbsp;</span>
                <div>
                  @for (tech of project.techStack; track tech) {<div>{{tech}}</div>}
                </div>
              </div>
            }
            @if (project.description) {
              <div class="project__info__description">
                <span>Description:</span>
                <div>
                  <span>{{project.description | truncate : 300}}</span>
                  <a [routerLink]="'/project/' + project.slug">Read More</a>
                </div>
              </div>
            }
            <div class="project__info__buttons">
              @if (project.demoLink) {<a [href]="project.demoLink" target="_blank"><button>Demo</button></a>}
              @if (project.videoLink) {<a><button (click)="onOpenModal('video', project)">Video</button></a>}
              @if (project.codeLink) {<a [href]="project.codeLink" target="_blank"><button>Code</button></a>}
              @if (project.designLink) {<a [href]="project.designLink" target="_blank"><button>Design</button></a>}
            </div>
          </div>
        </div>
      }
    </div>
  } @else {
    <div>
      <div class="project section-container">
        <h2 class="error-message">@if (loading) {Loading Projects...} @else {Could Not Load Projects}</h2>
      </div>
    </div>
  }
</section>
