<section id="about">
  <h1 class="title-heading"><span class="arrow">< </span>About<span class="arrow"> ></span></h1>

  <div class="section-container">
    <p>
      Hi, I’m Michelle. I have a Master's degree in Computer Science with concentration in Data Science.
      Although I am very interested in web and data, I don't mind going into other fields of development.
      I began taking computer science seriously when a woman at a career fair in high school told me that
      she wanted to see people like me in tech. Ever since that day, I have put my all into learning to code
      through school courses, self study, and of course, practice! My ultimate goal is to inspire the next
      generation of young Black girls to get into tech just like that woman inspired me to delve into this
      field. When I am not coding, I enjoy listening to music and editing videos/photos. However, I am
      always trying to tie my interests into my code. I am always coding various scripts to automate my
      photo or video editing workflow. I share many of these scripts that make accomplishing tasks in
      Photoshop or video editing programs a breeze with people through my blog. On my blog, I also help
      people solve any technical problems they may face using my scripts or other programs. It's such a
      rewarding experience to be able to do what I love and help others.
    </p>
  </div>
</section>
