<section id="about">
  <h1 class="title-heading"><span class="arrow">< </span>About<span class="arrow"> ></span></h1>

  <div class="section-container">
    <p>
      Hey, I’m Michelle. I’m a Software Engineer with a Master's degree in Computer Science with concentration
      in Data Science. My specialties lie in both frontend & backend web development, and I have strong
      interests in data analytics and engineering. Due to these interests, I find that I enjoy working in the
      intersection of the two. A place where I can make data easier to digest by creating visualizations or
      easier to use by building web apps that interface with complex machine learning models behind the scenes.
      I began taking computer science seriously when a woman at a high school career fair told me that she
      wanted to see people like me in tech. Ever since that day, I have put my all into getting here! My
      ultimate goal is to inspire the next generation of young Black girls to get into tech just like that woman
      inspired me to delve into this field. When I am not coding, I enjoy listening to music and editing
      videos/photos. I am a huge supporter of early career devs, so in my free time I enjoy joining developer
      communities and helping people with any issues they may face when using various technologies. I also
      create educational content on different technologies and software. As I garner more seniority in this
      field, I hope to transition into the developer advocacy space so that I can continue my support for the
      developer community at a larger scale.
    </p>
  </div>
</section>
