<section id="home">
  <app-header></app-header>

  <div>
    <div id="home__intro">
      <h2>Hi! I'm <strong>Michelle</strong></h2>
      <h1>
        A <span>Data Science</span> <br />
        Enthusiast with a Knack <br />
        for Web Development
      </h1>

      <div id="home__intro__action">
        <a href="#projects"><button>Projects</button></a>
        <a href="https://github.com/MichieCodes" target="_blank"><button>Github</button></a>
      </div>
    </div>

    <img id="home__svg" src="./assets/home-svg.svg" alt="Illustration of Woman Sitting on a Text Editor" />
  </div>
</section>
